#countdown{
    color: white; /*Couleur du texte*/
    font-size: 4rem; /*Taille du texte*/
    font-family: Arial, Helvetica, sans-serif; /*Police utilisée*/
    font-weight: 700; /*Epaisseur des lettres*/
    text-align: center;
}
hr{
    font-size: 2rem;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
}
